* {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
.layout-width {
  width: 1256px;
  margin: auto;
  padding: 0 60px;
}
.fs01 {
  font-weight: 700;
}

/* main-header */

.main-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -5px; /*주로 1 px 까지만 사용*/
}
.main-header {
  display: flex;
  padding: 10px 0;
}
.header-depth1 {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
  margin: 0 100px 0 40px;
}
.menu {
  display: flex;
  align-items: center;
}

.search-box {
  height: 40px;
  width: 280px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
}
.cart-icon {
  background-color: #ddd;
  height: 40px;
  width: 40px;
  margin: 0 20px;
}
.auth-box {
  display: flex;
  font-size: 14px;
}
.auth-box li {
  border-right: 1px solid #ddd;
}
.auth-box li:nth-last-child() {
  border-right: none;
}
.auth-box li a {
  margin: 15px;
}
.write {
  width: 95px;
  height: 40px;
  background-color: #35c5f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.write:hover {
  background-color: #009fce;
}
.write span {
  color: #fff;
  font-size: 14px;
}

/* sub-header */
.sub-header--wrap {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.sub-header {
  display: flex;
  justify-content: space-between;
}
.header-depth2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header-depth2 li {
  padding: 15px 6px;
}
.header-depth2 li a {
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
}
.popular-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.popular-search--txt {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.popular-search--ranking {
  font-weight: 700;
}
.popular-search--icon {
  color: red;
}
.popular-search--button {
  background-color: #ddd;
  width: 30px;
  height: 30px;
  border: none;
}

/* main */
.main-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.main-banner {
  background-color: #35c5f0;
  width: 80%;
  height: 500px;
  border-radius: 5px;
}
.sub-banner {
  background-color: #35c5f0;
  width: 20%;
  height: 500px;
}

/* category */
.main-category {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.category-box--img {
  background-color: #eee;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.category-box--text {
  text-align: center;
}

/* post 공통 */
.post-title,
.tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.tit {
  font-weight: 700;
}
.more-btn {
  font-weight: 700;
  border: none;
  background: none;
  color: #35c5f0;
  cursor: pointer;
}
.post-box {
  display: flex;
  justify-content: space-between;
}
.post {
  max-width: 300px;
}
.post-img {
  margin-bottom: 10px;
  background-color: #99ccff;
  border-radius: 5px;
  width: 100%;
  height: 200px;
}
.post-txt span {
  color: #35c5f0;
}

/* 하단 category */

.category {
  display: flex;
  justify-content: space-between;
}

/* footer */
.corporation-wrap {
  background-color: aqua;
  margin-top: 20px;
  padding: 40px 0;
}

.corporation {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.corp-service {
  background-color: yellow;
}
.corp-link {
  background-color: yellowgreen;
  display: flex;
}
